    <div id="content" class="content " ng-controller="HelpCtrl">
      
      <!-- CONTENT -->
      <div class="container-fluid" ng-init="initHelp()">
        <div class="row">

        <!-- LEFT PANE -->
          <div class="col-sm-4 col-lg-3 sidebar">
            <help-toc />
          </div>

          <!-- PAGE PANE -->
          <div ng-include="'html/np-help.doc.html'" ng-controller="DocCtrl" class="col-sm-8 col-sm-offset-4 col-lg-9 col-lg-offset-3 main"/>
        </div>
      </div>
    </div><!--/.container-->
